.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
    padding: 16px;

    margin: 0px 70px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #007bff;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    text-align: center;
  }
  
  .icon {
    width: 70px;
    height: 70px;
    margin-bottom: 12px;
    margin-left: 0;
  }
  
  .name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
  }
  
  .button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .gridContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }